@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body {
    -webkit-text-size-adjust: none;
    background: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
    line-height: 1;
    
}



*, *:before, *:after {
    box-sizing: inherit;
}


